<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>აქციები</title>
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body data-p-id="{{ request.args.get('p_id', 1) }}">
<div class="navbar-fixed">
    <nav class="gradient-45deg-deep-purple-blue">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="{% if request.args.get('p_id') == '1' or not request.args.get('p_id') %}active{% endif %}"><a
                        href="/?p_id=1">მალხაზი</a></li>
                <li class="{% if request.args.get('p_id') == '2' %}active{% endif %}"><a href="/?p_id=2">გიორგი</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav gradient-45deg-semi-dark" id="mobile-demo">
        <div class="center-align">
            <i class="material-icons white-text" style="font-size:10rem;">timeline</i>
        </div>
        <li class="{% if request.args.get('p_id') == '1' or not request.args.get('p_id') %}active{% endif %}">
            <a href="/?p_id=1" class="white-text">მალხაზი</a>
        </li>
        <li class="{% if request.args.get('p_id') == '2' %}active{% endif %}">
            <a href="/?p_id=2" class="white-text">გიორგი</a>
        </li>
    </ul>
</div>
<section id="content" class="mt-3">
    <h4 class="center-align">{% if request.args.get('p_id') == '1' or not request.args.get('p_id') %}მალხაზის{% else %}გიორგის{% endif %} აქციები</h4>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card {% if data.diff['today_positive'] %}gradient-45deg-green-teal{% else %}gradient-45deg-red-pink{% endif %} gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">
                            {% if data.diff['today_positive'] %}
                                trending_up
                            {% else %}
                                trending_down
                            {% endif %}
                        </i>
                        <p>დღეს</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">{{ data.diff['today_percent'] | format_currency }}%</h5>
                        <p class="no-margin"></p>
                        <p id="diff_today" class="dollar"
                           data-count="{{ data.diff['today'] }}">{{ data.diff['today'] | format_currency }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">work</i>
                        <p>ჯამური პროცენტი</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">{{ data.portfolio['total_percent'] | format_currency }}%</h5>
                        <p class="no-margin"></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">attach_money</i>
                        <p>პორტფოლიო</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0 dollar" id="current"
                            data-count="{{ data.portfolio['current'] }}">{{ data.portfolio['current'] | format_currency }}</h5>
                        <p class="no-margin"></p>
                        <p id="investment" class="dollar"
                           data-count="{{ data.portfolio['investment'] }}">{{ data.portfolio['investment'] | format_currency }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="stock-list">
        {% for stock in data.stock_list %}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="stock-chart card">
                        <div class="card-content">
                            <h4 class="header mt-0">{{ stock.ticker }}
                            </h4>
                            <div class="row">
                                <div class="col m8 l8 s12">
                                    <div class="yearly-revenue-chart">
                                        <canvas id="{{ stock.ticker | lower }}" height="350"></canvas>
                                    </div>
                                </div>
                                <div class="col m4 l4 s12">
                                    <table class="striped align-table-center">
                                        <thead>
                                        <tr>
                                            <th>წილი</th>
                                            <th>ინვესტიცია</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ stock.shares | format_currency }}</td>
                                            <td class="dollar">{{ stock.investment | format_currency }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>